<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myImagePicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>152A823B1D0A5F5D00E1642D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>152A82571D0A5F5E00E1642D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>152A82621D0A5F5E00E1642D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
